.header-div {
  margin: 4rem;
}

.benefit-div {
  background: url("../../assets/images/dinode.png");
  background-position: center center;
  padding: 4rem 0 2rem;
}

.faq-team-div {
  .team {
  }

  .faq {
  }
}
